abstract-rendering==0.5.1
amqp==1.4.7
anyjson==0.3.3
appnope==0.1.0
argcomplete==0.8.1
astropy==1.0.4
atom==0.3.9
backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.3.2
billiard==3.3.0.21
binstar==0.7.1
bitarray==0.8.1
blaze==0.6.3
blz==0.6.2
bokeh==0.6.1
boto==2.32.1
casuarius==1.1
cdecimal==2.3
celery==3.1.19
certifi==14.5.14
cffi==0.8.6
chaco==4.4.1
colorama==0.3.1
conda==4.0.8
conda-build==1.8.2
conda-env==2.4.5
configobj==5.0.6
configparser==3.5.0b2
cryptography==0.5.4
cvxopt==1.1.7
Cython==0.21
cytoolz==0.7.0
DataShape==0.3.0
decorator==4.0.9
Django==1.6.5
django-celery==3.1.17
docutils==0.12
enable==4.3.0
enaml==0.9.8
Flask==0.10.1
future==0.13.1
futures==2.1.6
gevent==1.0.1
gevent-websocket==0.9.3
glueviz==0.5.3
google-api-python-client==1.4.2
greenlet==0.4.4
grin==1.2.1
h5py==2.3.1
httplib2==0.9.2
ipykernel==4.3.1
ipython==4.1.2
ipython-genutils==0.1.0
itsdangerous==0.24
jdcal==1.0
Jinja2==2.8
jsonschema==2.4.0
jupyter-client==4.2.2
jupyter-core==4.1.0
kiwisolver==0.1.3
kombu==3.0.29
llvmpy==0.12.7
lxml==3.4.0
MarkupSafe==0.23
matplotlib==1.4.3
mistune==0.7.2
mock==1.0.1
multipledispatch==0.4.7
MySQL-python==1.2.5
nbconvert==4.2.0
nbformat==4.0.1
networkx==1.10
nltk==3.0.0
nose==1.3.4
notebook==4.1.0
numba==0.14.0
numexpr==2.3.1
numpy==1.9.3
oauth2client==1.5.2
openpyxl==1.8.5
pandas==0.16.2
path.py==0.0.0
patsy==0.3.0
pep8==1.5.7
pexpect==4.0.1
pickleshare==0.5
PIL==1.1.7
Pillow==3.0.0
ply==3.4
psutil==2.1.1
ptyprocess==0.5
py==1.4.25
pyasn1==0.1.9
pyasn1-modules==0.0.8
PyAudio==0.2.7
pycosat==0.6.1
pycparser==2.10
pycrypto==2.6.1
pycurl==7.19.5
pyface==4.4.0
pyflakes==0.8.1
pygame==1.9.2a0
Pygments==2.1.3
pykml==0.1.0
pyOpenSSL==0.14
pyparsing==2.0.3
pyserial==3.0.1
pytest==2.6.3
python-dateutil==1.5
pytz==2015.7
PyYAML==3.11
pyzmq==15.2.0
qtconsole==4.1.0
redis==2.10.3
requests==2.9.1
rope==0.9.4
rsa==3.2.3
runipy==0.1.1
scikit-image==0.11.3
scikit-learn==0.15.2
scipy==0.16.0
simplegeneric==0.8.1
simplejson==3.8.1
singledispatch==3.4.0.3
six==1.10.0
sockjs-tornado==1.0.1
South==1.0.2
Sphinx==1.2.3
spyder==2.3.1
SQLAlchemy==0.9.7
statsmodels==0.5.0
sympy==0.7.5
tables==3.1.1
terminado==0.5
toolz==0.7.0
tornado==4.3
traitlets==4.2.1
traits==4.4.0
traitsui==4.4.0
ujson==1.33
unicodecsv==0.9.4
uritemplate==0.6
virtualenv==15.0.2
Werkzeug==0.9.6
xlrd==0.9.3
XlsxWriter==0.5.7
xlwt==0.7.5
